{% extends "base.html" %}

{% load static %}

{% block title %}Pur beurre{% endblock title %}

{% block header %}
    <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Du gras, oui, mais de qualité!</h1>
        <hr class="divider my-4" />
    </div>
    <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</p>
        <div class="row h-100 w-100 align-items-center justify-content-center text-center">
           <form id="search_form" class="search-form text-white" action="" method="post">
                {% csrf_token %}
                {{ form.as_p}}
                {{ form.media }}
                <button id="search-button">Chercher</button>
            </form>
        </div>
    </div>
{% endblock header %}

{% block main %}
    <!-- About-->
    <section class="page-section bg-primary w-100" id="about">
        <div class="container w-100">
            <div class="row w-100 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">Colette et Remy</h2>
                    <hr class="divider light my-4" />
                    <p class="text-white-50 mb-4">Remy et Colette sont amoureux de la gastronomie française (on ne peut les blâmer !). Travaillant quotidiennement avec les meilleurs produits du terroir, ils affectionnent particulièrement la bonne chaire et aiment partager leur passion.</p>
                    <div class="row justify-content-center">
                        <div class="column-name w-50 column justify-content-center">
                            <img id="colette-img" src="{% static "ocrProjet8/assets/img/portfolio/fullsize/colette-4.jpg" %}" alt="Colette">
                            <p class="text-white">Colette</p>
                        </div>
                        <div class="column-name w-50 column justify-content-center">
                            <img id="remy-img" src="{% static "ocrProjet8/assets/img/portfolio/fullsize/remy-8.jpg" %}" alt="Remy">
                            <p class="text-white">Remy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Contactez-nous !</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">N'hésitez pas à nous contacter par mail ou par téléphone ! A très bientôt !</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>0000000000</div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                    <a class="d-block text-muted" href="mailto:contact@yourwebsite.com">pur.beurre.mbi@gmail.com</a>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
