{% extends "base.html" %}

{% load static %}

{% block title %}Inscription{% endblock title%}

{% block beforeheader %}
<div class="row justify-content-center">
    <h1 class="text-white">Inscription</h1>
</div>
<div class="row justify-content-center">
    <h2 class="text-white text-center">Veuillez renseigner vos informations</h2>
</div>
{% endblock beforeheader %}
{% block header %}
<form class="subscribe-form text-white" action="" method="post">
   {% csrf_token %}
   {{ form.as_p}}
   <div class="row justify-content-center">
       <button type="submit">S'inscrire</button>
   </div>
</form>
{% endblock header %}
